In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import timedelta, time, datetime


import warnings
from IPython.core.display import display, HTML
warnings.filterwarnings("ignore") # suppress warnings because theyre annoying and i like living on the edge
pd.set_option('display.max_columns',100) # so i can see all columns
np.set_printoptions(linewidth = 220) # increase numpy array print
display(HTML("<style>.container { width:80% !important; }</style>")) # widen jupyter notebook blocks

In [2]:
conn_cred = {
    "dbservername":"localhost",
    "dbname":"main_schema",
    "dbuser":"minx",
    "dbpassword":"!xobILE!!!111!"
}

In [3]:
import pymysql as MySQLdb

In [5]:

def mysql_conn(db_conn_info):
    '''
    Call to connect to the database
    '''
    try:
        dbconn_ = MySQLdb.connect(host=db_conn_info['dbservername'],
                    db = db_conn_info['dbname'],
                    user = db_conn_info['dbuser'],
                    passwd = db_conn_info['dbpassword']
                    )
        cursor_ = dbconn_.cursor()
        return dbconn_, cursor_

    except Exception as e:
        print('Error: ' + str(e))

def db_conn_close(dbconn, cursor):
    # closing connections to free up sockets
    dbconn.commit()
    cursor.close()
    dbconn.close()
    
    
def run_query(creds, query):
    conn, cursor = mysql_conn(creds)

    try:
        cursor.execute(query)
        rows = cursor.fetchall()
    except Exception as e:
        print('Error in running query: ' + str(e))
    finally:
        db_conn_close(conn, cursor)
    return rows

In [7]:
query_ = 'SELECT * FROM {dbname}.bar_15min'.format(dbname = conn_cred['dbname'])
rows = run_query(conn_cred,query_)

In [8]:
rows

(('AAPL',
  datetime.datetime(2020, 11, 6, 6, 30),
  Decimal('118.320'),
  Decimal('116.650'),
  Decimal('118.640'),
  Decimal('116.300'),
  Decimal('106119')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 6, 45),
  Decimal('116.650'),
  Decimal('116.290'),
  Decimal('116.910'),
  Decimal('116.130'),
  Decimal('54342')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 7, 0),
  Decimal('116.300'),
  Decimal('117.010'),
  Decimal('117.120'),
  Decimal('116.130'),
  Decimal('46862')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 7, 15),
  Decimal('117.010'),
  Decimal('117.470'),
  Decimal('117.600'),
  Decimal('116.830'),
  Decimal('37682')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 7, 30),
  Decimal('117.460'),
  Decimal('117.640'),
  Decimal('117.700'),
  Decimal('117.140'),
  Decimal('30883')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 7, 45),
  Decimal('117.640'),
  Decimal('117.420'),
  Decimal('117.900'),
  Decimal('117.260'),
  Decimal('32868')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 8, 0),
  Decimal('117.410'),
  Decimal('117.830'),
  Decimal('118.100'),
  Decimal('117.300'),
  Decimal('33715')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 8, 15),
  Decimal('117.850'),
  Decimal('118.130'),
  Decimal('118.140'),
  Decimal('117.650'),
  Decimal('27091')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 8, 30),
  Decimal('118.130'),
  Decimal('118.380'),
  Decimal('118.450'),
  Decimal('118.020'),
  Decimal('26864')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 8, 45),
  Decimal('118.370'),
  Decimal('118.740'),
  Decimal('118.820'),
  Decimal('118.300'),
  Decimal('33115')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 9, 0),
  Decimal('118.740'),
  Decimal('118.780'),
  Decimal('119.190'),
  Decimal('118.660'),
  Decimal('37406')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 9, 15),
  Decimal('118.780'),
  Decimal('118.430'),
  Decimal('118.840'),
  Decimal('118.280'),
  Decimal('24082')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 9, 30),
  Decimal('118.440'),
  Decimal('118.880'),
  Decimal('118.890'),
  Decimal('118.430'),
  Decimal('23618')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 9, 45),
  Decimal('118.880'),
  Decimal('118.880'),
  Decimal('118.970'),
  Decimal('118.620'),
  Decimal('19691')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 10, 0),
  Decimal('118.890'),
  Decimal('119.150'),
  Decimal('119.160'),
  Decimal('118.830'),
  Decimal('18323')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 10, 15),
  Decimal('119.150'),
  Decimal('119.110'),
  Decimal('119.200'),
  Decimal('118.880'),
  Decimal('18587')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 10, 30),
  Decimal('119.110'),
  Decimal('118.940'),
  Decimal('119.120'),
  Decimal('118.920'),
  Decimal('14422')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 10, 45),
  Decimal('118.950'),
  Decimal('119.000'),
  Decimal('119.080'),
  Decimal('118.840'),
  Decimal('15156')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 11, 0),
  Decimal('119.000'),
  Decimal('119.100'),
  Decimal('119.130'),
  Decimal('118.850'),
  Decimal('15897')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 11, 15),
  Decimal('119.110'),
  Decimal('118.890'),
  Decimal('119.170'),
  Decimal('118.860'),
  Decimal('16101')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 11, 30),
  Decimal('118.890'),
  Decimal('118.500'),
  Decimal('119.040'),
  Decimal('118.480'),
  Decimal('25465')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 11, 45),
  Decimal('118.500'),
  Decimal('118.470'),
  Decimal('118.550'),
  Decimal('118.220'),
  Decimal('27265')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 12, 0),
  Decimal('118.470'),
  Decimal('118.480'),
  Decimal('118.560'),
  Decimal('118.130'),
  Decimal('25681')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 12, 15),
  Decimal('118.480'),
  Decimal('118.370'),
  Decimal('118.570'),
  Decimal('118.090'),
  Decimal('30669')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 12, 30),
  Decimal('118.370'),
  Decimal('118.850'),
  Decimal('118.860'),
  Decimal('118.260'),
  Decimal('31591')),
 ('AAPL',
  datetime.datetime(2020, 11, 6, 12, 45),
  Decimal('118.850'),
  Decimal('118.690'),
  Decimal('119.060'),
  Decimal('118.400'),
  Decimal('61651')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 6, 30),
  Decimal('436.100'),
  Decimal('428.300'),
  Decimal('436.570'),
  Decimal('426.900'),
  Decimal('19613')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 6, 45),
  Decimal('428.280'),
  Decimal('425.640'),
  Decimal('429.200'),
  Decimal('424.280'),
  Decimal('15433')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 7, 0),
  Decimal('425.740'),
  Decimal('428.000'),
  Decimal('428.570'),
  Decimal('424.950'),
  Decimal('10636')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 7, 15),
  Decimal('427.970'),
  Decimal('429.480'),
  Decimal('430.020'),
  Decimal('427.400'),
  Decimal('7230')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 7, 30),
  Decimal('429.380'),
  Decimal('431.060'),
  Decimal('431.250'),
  Decimal('428.730'),
  Decimal('6875')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 7, 45),
  Decimal('431.100'),
  Decimal('430.690'),
  Decimal('433.130'),
  Decimal('430.300'),
  Decimal('8480')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 8, 0),
  Decimal('430.610'),
  Decimal('430.730'),
  Decimal('432.310'),
  Decimal('429.750'),
  Decimal('4921')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 8, 15),
  Decimal('430.800'),
  Decimal('430.700'),
  Decimal('430.890'),
  Decimal('429.000'),
  Decimal('4721')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 8, 30),
  Decimal('430.450'),
  Decimal('430.540'),
  Decimal('432.200'),
  Decimal('429.780'),
  Decimal('4376')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 8, 45),
  Decimal('430.460'),
  Decimal('430.600'),
  Decimal('432.100'),
  Decimal('429.880'),
  Decimal('3475')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 9, 0),
  Decimal('430.680'),
  Decimal('430.830'),
  Decimal('432.430'),
  Decimal('430.300'),
  Decimal('3952')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 9, 15),
  Decimal('430.740'),
  Decimal('429.500'),
  Decimal('430.860'),
  Decimal('429.300'),
  Decimal('3692')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 9, 30),
  Decimal('429.570'),
  Decimal('428.830'),
  Decimal('430.310'),
  Decimal('428.300'),
  Decimal('3935')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 9, 45),
  Decimal('428.750'),
  Decimal('429.150'),
  Decimal('429.730'),
  Decimal('428.120'),
  Decimal('2856')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 10, 0),
  Decimal('429.180'),
  Decimal('429.960'),
  Decimal('430.250'),
  Decimal('429.000'),
  Decimal('3096')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 10, 15),
  Decimal('429.960'),
  Decimal('429.930'),
  Decimal('429.970'),
  Decimal('428.780'),
  Decimal('2637')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 10, 30),
  Decimal('429.800'),
  Decimal('429.140'),
  Decimal('430.460'),
  Decimal('429.120'),
  Decimal('2510')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 10, 45),
  Decimal('429.200'),
  Decimal('429.480'),
  Decimal('429.580'),
  Decimal('428.350'),
  Decimal('3025')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 11, 0),
  Decimal('429.550'),
  Decimal('429.440'),
  Decimal('429.820'),
  Decimal('428.800'),
  Decimal('2332')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 11, 15),
  Decimal('429.420'),
  Decimal('429.100'),
  Decimal('430.250'),
  Decimal('428.970'),
  Decimal('3229')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 11, 30),
  Decimal('429.100'),
  Decimal('429.360'),
  Decimal('430.520'),
  Decimal('429.090'),
  Decimal('2998')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 11, 45),
  Decimal('429.420'),
  Decimal('428.980'),
  Decimal('429.470'),
  Decimal('428.650'),
  Decimal('2615')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 12, 0),
  Decimal('428.930'),
  Decimal('428.340'),
  Decimal('428.930'),
  Decimal('427.280'),
  Decimal('5359')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 12, 15),
  Decimal('428.380'),
  Decimal('428.060'),
  Decimal('428.480'),
  Decimal('426.760'),
  Decimal('3896')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 12, 30),
  Decimal('428.070'),
  Decimal('429.540'),
  Decimal('429.640'),
  Decimal('427.580'),
  Decimal('5117')),
 ('TSLA',
  datetime.datetime(2020, 11, 6, 12, 45),
  Decimal('429.530'),
  Decimal('429.920'),
  Decimal('430.970'),
  Decimal('429.350'),
  Decimal('9507')))

In [9]:
pd.DataFrame(rows, columns = ['symbol','datetime','open','close','high','low','volume'])

   symbol            datetime     open    close     high      low  volume
0    AAPL 2020-11-06 06:30:00  118.320  116.650  118.640  116.300  106119
1    AAPL 2020-11-06 06:45:00  116.650  116.290  116.910  116.130   54342
2    AAPL 2020-11-06 07:00:00  116.300  117.010  117.120  116.130   46862
3    AAPL 2020-11-06 07:15:00  117.010  117.470  117.600  116.830   37682
4    AAPL 2020-11-06 07:30:00  117.460  117.640  117.700  117.140   30883
5    AAPL 2020-11-06 07:45:00  117.640  117.420  117.900  117.260   32868
6    AAPL 2020-11-06 08:00:00  117.410  117.830  118.100  117.300   33715
7    AAPL 2020-11-06 08:15:00  117.850  118.130  118.140  117.650   27091
8    AAPL 2020-11-06 08:30:00  118.130  118.380  118.450  118.020   26864
9    AAPL 2020-11-06 08:45:00  118.370  118.740  118.820  118.300   33115
10   AAPL 2020-11-06 09:00:00  118.740  118.780  119.190  118.660   37406
11   AAPL 2020-11-06 09:15:00  118.780  118.430  118.840  118.280   24082
12   AAPL 2020-11-06 09:30:00  118.440  118.880  118.890  118.430   23618
13   AAPL 2020-11-06 09:45:00  118.880  118.880  118.970  118.620   19691
14   AAPL 2020-11-06 10:00:00  118.890  119.150  119.160  118.830   18323
15   AAPL 2020-11-06 10:15:00  119.150  119.110  119.200  118.880   18587
16   AAPL 2020-11-06 10:30:00  119.110  118.940  119.120  118.920   14422
17   AAPL 2020-11-06 10:45:00  118.950  119.000  119.080  118.840   15156
18   AAPL 2020-11-06 11:00:00  119.000  119.100  119.130  118.850   15897
19   AAPL 2020-11-06 11:15:00  119.110  118.890  119.170  118.860   16101
20   AAPL 2020-11-06 11:30:00  118.890  118.500  119.040  118.480   25465
21   AAPL 2020-11-06 11:45:00  118.500  118.470  118.550  118.220   27265
22   AAPL 2020-11-06 12:00:00  118.470  118.480  118.560  118.130   25681
23   AAPL 2020-11-06 12:15:00  118.480  118.370  118.570  118.090   30669
24   AAPL 2020-11-06 12:30:00  118.370  118.850  118.860  118.260   31591
25   AAPL 2020-11-06 12:45:00  118.850  118.690  119.060  118.400   61651
26   TSLA 2020-11-06 06:30:00  436.100  428.300  436.570  426.900   19613
27   TSLA 2020-11-06 06:45:00  428.280  425.640  429.200  424.280   15433
28   TSLA 2020-11-06 07:00:00  425.740  428.000  428.570  424.950   10636
29   TSLA 2020-11-06 07:15:00  427.970  429.480  430.020  427.400    7230
30   TSLA 2020-11-06 07:30:00  429.380  431.060  431.250  428.730    6875
31   TSLA 2020-11-06 07:45:00  431.100  430.690  433.130  430.300    8480
32   TSLA 2020-11-06 08:00:00  430.610  430.730  432.310  429.750    4921
33   TSLA 2020-11-06 08:15:00  430.800  430.700  430.890  429.000    4721
34   TSLA 2020-11-06 08:30:00  430.450  430.540  432.200  429.780    4376
35   TSLA 2020-11-06 08:45:00  430.460  430.600  432.100  429.880    3475
36   TSLA 2020-11-06 09:00:00  430.680  430.830  432.430  430.300    3952
37   TSLA 2020-11-06 09:15:00  430.740  429.500  430.860  429.300    3692
38   TSLA 2020-11-06 09:30:00  429.570  428.830  430.310  428.300    3935
39   TSLA 2020-11-06 09:45:00  428.750  429.150  429.730  428.120    2856
40   TSLA 2020-11-06 10:00:00  429.180  429.960  430.250  429.000    3096
41   TSLA 2020-11-06 10:15:00  429.960  429.930  429.970  428.780    2637
42   TSLA 2020-11-06 10:30:00  429.800  429.140  430.460  429.120    2510
43   TSLA 2020-11-06 10:45:00  429.200  429.480  429.580  428.350    3025
44   TSLA 2020-11-06 11:00:00  429.550  429.440  429.820  428.800    2332
45   TSLA 2020-11-06 11:15:00  429.420  429.100  430.250  428.970    3229
46   TSLA 2020-11-06 11:30:00  429.100  429.360  430.520  429.090    2998
47   TSLA 2020-11-06 11:45:00  429.420  428.980  429.470  428.650    2615
48   TSLA 2020-11-06 12:00:00  428.930  428.340  428.930  427.280    5359
49   TSLA 2020-11-06 12:15:00  428.380  428.060  428.480  426.760    3896
50   TSLA 2020-11-06 12:30:00  428.070  429.540  429.640  427.580    5117
51   TSLA 2020-11-06 12:45:00  429.530  429.920  430.970  429.350    9507