In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('HistoricalQuotes TSLA.csv')

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [17]:
df.columns = ['Date','Close/Last','Volume','Open','High','Low']

In [18]:
list(df)

['Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low']

In [19]:
for i in ['Close/Last','Volume','Open','High','Low']:
    df[i] = df[i].map(lambda x: float(str(x)[1:].replace(',','')))

In [20]:
df

          Date  Close/Last    Volume    Open    High     Low
0   2020-08-14       50.71  577610.0  664.99  668.80  626.64
1   2020-08-13       21.00   25310.0  611.00  651.18  567.26
2   2020-08-12       54.76  898830.0  470.00  585.00  435.00
3   2020-08-11       74.39   25834.0  396.00  420.00  365.00
4   2020-08-10       18.57   22264.0  448.00  457.50  385.84
..         ...         ...       ...     ...     ...     ...
247 2019-08-22        2.15   64964.0   22.80   25.40   18.22
248 2019-08-21        0.83   99744.0   22.01   23.22   17.60
249 2019-08-20        5.86   70527.0   27.62   29.09   24.54
250 2019-08-19        6.83   11748.0   24.21   27.83   21.70
251 2019-08-16        9.94    7376.0   16.66   22.24   16.02

[252 rows x 6 columns]