# Detecting fluctuating stock in 5 min data

Use this for download
https://stooq.com/db/h/

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

work_dir = 'D:/5_us_txt_20200104/data/5 min/us/nasdaq stocks/1/'

In [4]:
df = pd.read_csv(work_dir + 'mrtn.us.txt')

In [8]:
df.head()

         Date      Time    Open    High     Low   Close  Volume  OpenInt
0  2019-11-15  15:30:00  22.209  22.209  22.209  22.209    8115        0
1  2019-11-15  15:45:00  22.079  22.079  22.019  22.019     350        0
2  2019-11-15  15:55:00  21.989  21.989  21.959  21.969     701        0
3  2019-11-15  16:15:00  21.899  21.899  21.839  21.839     200        0
4  2019-11-15  16:20:00  21.868  21.868  21.868  21.868     200        0