In [1]:
import yfinance as yf

In [2]:
msft = yf.Ticker("MSFT")
print(msft)
"""
returns
<yfinance.Ticker object at 0x1a1715e898>
"""

# get stock info
msft.info

"""
returns:
{
 'quoteType': 'EQUITY',
 'quoteSourceName': 'Nasdaq Real Time Price',
 'currency': 'USD',
 'shortName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
  ...
 'symbol': 'MSFT'
}
"""

# get historical market data
msft.history(period="max")
"""
returns:
              Open    High    Low    Close      Volume  Dividends  Splits
Date
1986-03-13    0.06    0.07    0.06    0.07  1031788800        0.0     0.0
1986-03-14    0.07    0.07    0.07    0.07   308160000        0.0     0.0
...
2019-04-15  120.94  121.58  120.57  121.05    15792600        0.0     0.0
2019-04-16  121.64  121.65  120.10  120.77    14059700        0.0     0.0
"""

# show actions (dividends, splits)
msft.actions
"""
returns:
            Dividends  Splits
Date
1987-09-21       0.00     2.0
1990-04-16       0.00     2.0
...
2018-11-14       0.46     0.0
2019-02-20       0.46     0.0
"""

# show dividends
msft.dividends
"""
returns:
Date
2003-02-19    0.08
2003-10-15    0.16
...
2018-11-14    0.46
2019-02-20    0.46
"""

# show splits
msft.splits
"""
returns:
Date
1987-09-21    2.0
1990-04-16    2.0
...
1999-03-29    2.0
2003-02-18    2.0
"""

yfinance.Ticker object <MSFT>

'\nreturns:\nDate\n1987-09-21    2.0\n1990-04-16    2.0\n...\n1999-03-29    2.0\n2003-02-18    2.0\n'

In [10]:
df = msft.history(period="max")
df.reset_index(inplace = True)

[Timestamp('2003-02-19 00:00:00'),
 Timestamp('2003-10-15 00:00:00'),
 Timestamp('2004-08-23 00:00:00'),
 Timestamp('2004-11-15 00:00:00'),
 Timestamp('2005-02-15 00:00:00'),
 Timestamp('2005-05-16 00:00:00'),
 Timestamp('2005-08-15 00:00:00'),
 Timestamp('2005-11-15 00:00:00'),
 Timestamp('2006-02-15 00:00:00'),
 Timestamp('2006-05-15 00:00:00'),
 Timestamp('2006-08-15 00:00:00'),
 Timestamp('2006-11-14 00:00:00'),
 Timestamp('2007-02-13 00:00:00'),
 Timestamp('2007-05-15 00:00:00'),
 Timestamp('2007-08-14 00:00:00'),
 Timestamp('2007-11-13 00:00:00'),
 Timestamp('2008-02-19 00:00:00'),
 Timestamp('2008-05-13 00:00:00'),
 Timestamp('2008-08-19 00:00:00'),
 Timestamp('2008-11-18 00:00:00'),
 Timestamp('2009-02-17 00:00:00'),
 Timestamp('2009-05-19 00:00:00'),
 Timestamp('2009-08-18 00:00:00'),
 Timestamp('2009-11-17 00:00:00'),
 Timestamp('2010-02-16 00:00:00'),
 Timestamp('2010-05-18 00:00:00'),
 Timestamp('2010-08-17 00:00:00'),
 Timestamp('2010-11-16 00:00:00'),
 Timestamp('2011-02-15 00:00:00'),
 Timestamp('2011-05-17 00:00:00'),
 Timestamp('2011-08-16 00:00:00'),
 Timestamp('2011-11-15 00:00:00'),
 Timestamp('2012-02-14 00:00:00'),
 Timestamp('2012-05-15 00:00:00'),
 Timestamp('2012-08-14 00:00:00'),
 Timestamp('2012-11-13 00:00:00'),
 Timestamp('2013-02-19 00:00:00'),
 Timestamp('2013-05-14 00:00:00'),
 Timestamp('2013-08-13 00:00:00'),
 Timestamp('2013-11-19 00:00:00'),
 Timestamp('2014-02-18 00:00:00'),
 Timestamp('2014-05-13 00:00:00'),
 Timestamp('2014-08-19 00:00:00'),
 Timestamp('2014-11-18 00:00:00'),
 Timestamp('2015-02-17 00:00:00'),
 Timestamp('2015-05-19 00:00:00'),
 Timestamp('2015-08-18 00:00:00'),
 Timestamp('2015-11-17 00:00:00'),
 Timestamp('2016-02-16 00:00:00'),
 Timestamp('2016-05-17 00:00:00'),
 Timestamp('2016-08-16 00:00:00'),
 Timestamp('2016-11-15 00:00:00'),
 Timestamp('2017-02-14 00:00:00'),
 Timestamp('2017-05-16 00:00:00'),
 Timestamp('2017-08-15 00:00:00'),
 Timestamp('2017-11-15 00:00:00'),
 Timestamp('2018-02-14 00:00:00'),
 Timestamp('2018-05-16 00:00:00'),
 Timestamp('2018-08-15 00:00:00'),
 Timestamp('2018-11-14 00:00:00'),
 Timestamp('2019-02-20 00:00:00'),
 Timestamp('2019-05-15 00:00:00'),
 Timestamp('2019-08-14 00:00:00'),
 Timestamp('2019-11-20 00:00:00')]

In [16]:
from datetime import timedelta
div_date = df[df.Dividends != 0]['Date'].tolist()
div_date_after = (df[df.Dividends != 0]['Date'] + timedelta(days=1)).tolist()
div_date_before = (df[df.Dividends != 0]['Date'] + timedelta(days=-1)).tolist()

all_dates = div_date + div_date_after + div_date_before

In [18]:
df[df.Date.isin(all_dates)].tail(30)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
7921,2017-08-14,70.04,70.68,69.94,70.55,20096600,0.00,0.0
7922,2017-08-15,70.93,70.93,70.40,70.57,19181400,0.39,0.0
7923,2017-08-16,70.69,71.42,70.52,70.99,18150400,0.00,0.0
7986,2017-11-14,80.48,81.06,79.98,81.01,18801300,0.00,0.0
7987,2017-11-15,80.85,81.07,80.10,80.38,19383100,0.42,0.0
7988,2017-11-16,80.50,80.81,80.34,80.59,20962800,0.00,0.0
8047,2018-02-13,86.14,87.18,85.05,87.01,26407700,0.00,0.0
8048,2018-02-14,86.14,88.55,86.04,88.38,34960900,0.42,0.0
8049,2018-02-15,88.77,90.24,88.19,90.18,27823900,0.00,0.0
8110,2018-05-15,94.64,95.23,93.76,94.71,24594000,0.00,0.0
8111,2018-05-16,95.16,95.20,94.44,94.96,17384700,0.42,0.0
8112,2018-05-17,94.58,95.34,93.67,94.01,17246700,0.00,0.0
8173,2018-08-14,106.11,107.27,105.60,107.09,16788300,0.00,0.0
8174,2018-08-15,106.45,106.94,104.81,105.63,29982800,0.42,0.0
8175,2018-08-16,106.26,106.81,105.28,105.62,21384300,0.00,0.0
8237,2018-11-13,105.53,106.69,104.63,104.93,35374600,0.00,0.0
8238,2018-11-14,106.52,106.68,102.95,103.44,39495100,0.46,0.0
8239,2018-11-15,103.46,106.23,102.40,105.72,38505200,0.00,0.0
8301,2019-02-19,106.22,107.08,106.21,106.59,18038500,0.00,0.0
8302,2019-02-20,106.74,106.82,105.19,106.04,21607700,0.46,0.0
8303,2019-02-21,105.79,108.35,105.76,108.28,29063200,0.00,0.0
8360,2019-05-14,122.59,124.58,122.42,123.44,25266300,0.00,0.0
8361,2019-05-15,123.43,125.86,122.87,125.18,24722700,0.46,0.0
8362,2019-05-16,125.90,128.51,125.61,128.07,30112200,0.00,0.0
8423,2019-08-13,135.14,137.87,134.10,137.67,25154600,0.00,0.0
8424,2019-08-14,135.90,136.46,133.22,133.53,32527300,0.46,0.0
8425,2019-08-15,133.93,134.12,131.80,133.23,28074400,0.00,0.0
8492,2019-11-19,150.37,150.82,149.69,149.88,23935700,0.00,0.0
8493,2019-11-20,150.31,150.84,148.46,149.62,25696800,0.51,0.0
8494,2019-11-21,149.40,149.80,148.50,149.48,18576100,0.00,0.0